@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Classic";
  src: url("./public/fonts/ClassicComic-Bold.ttf");
}


@media screen and (max-width: 768px) {

}

@media all and (max-width: 1024px){

}

.visible-mobile {
    display: none !important;
  }
  
  @media (max-width: 768px) {
    .visible-mobile {
      display: inline !important;
    
    }
    .hidden-mobile {
      display: none !important;
    }
  }